<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo chatbot</title>
    <style>
      .container {
        width: 500px;
        height: 350px;
        border: 1px solid #000;
        display: flex;
        position: relative;
        scroll-snap-type: x mandatory;
        overflow-x: scroll;
      }

      .container::-webkit-scrollbar{
        display: none;
      }

      img {
        width: 100%;
        left: 0;
        position: sticky;
        flex-shrink: 0;
        scroll-snap-align: start;
        object-fit: cover;
      }
    </style>
</head>
<body>
    <h1>Hello world 2</h1>

    <form action="/setup-profile" method="post">
        <button type="submit">Setup profile</button>
    </form>

    <br />

    <form action="/setup-persistent-menu" method="post">
      <button type="submit">Setup persistent menu</button>
  </form>

    <!-- Messenger Plugin chat Code -->
    <div id="fb-root"></div>

    <!-- Your Plugin chat code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>


    //Demo

    <div class="container">
      <img src="https://kynguyenlamdep.com/wp-content/uploads/2022/06/anh-gai-xinh-cuc-dep.jpg" alt="">
      <img src="https://i.pinimg.com/736x/f8/3f/94/f83f94c94b92aee93b774cbb06f33e24.jpg" alt="">
      <img src="https://taimienphi.vn/tmp/cf/aut/anh-gai-xinh-1.jpg" alt="">
      <img src="https://imgt.taimienphi.vn/cf/Images/np/2022/8/16/anh-gai-xinh-cute-de-thuong-hot-girl-2.jpg" alt="">
    </div>




    <script>
      var chatbox = document.getElementById('fb-customer-chat');
      chatbox.setAttribute("page_id", "116661344652051");
      chatbox.setAttribute("attribution", "biz_inbox");
    </script>

    <!-- Your SDK code -->
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          xfbml            : true,
          version          : 'v17.0'
        });
      };

      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
</body>
</html>